
<input mat-input type="file" (change)="selectFile($event)" text="Upload an image with your post">
<div class="dropzone"
    dropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering">
    <h2>Please Upload Files for your Event</h2>
    <p>Drag and Drop Files</p>
</div>

<h1>Uploads</h1>

<div *ngIf="imgFile">
    <app-upload-task [file]="imgFile" [postid]="id" (imgdownloadURL)="onImgOutput($event)"></app-upload-task>
</div>
<div *ngFor="let file of files">
    <app-nonimg-upload-task [file]="file" [postid]="id" [ctr]="filectr" (downloadURL)="onOutput($event)"></app-nonimg-upload-task>
</div>